---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div
      id="header"
      class="h-24 border-b top-0 sticky z-50
      justify-between bg-black"
    >
      <div class="px-6 py-2 text-white font-semibold">Cardss</div>
    </div>
    <div class="bg-white text-blackc">
      Hello
    </div>
  </main>
</Layout>
