---

---

<div class="absolute z-30 h-[50px] w-full bg-black" />
<input
  id="selections-btn"
  type="checkbox"
  class="peer/selections-btn hidden"
>
<label
  for="selections-btn"
  class="relative z-40 flex h-[50px]
  w-full justify-center border-b
  pt-3 md:hover:cursor-pointer"
/>
<div
  class="absolute -left-60 z-30
  pt-3 text-black transition peer-checked/selections-btn:translate-x-60
  font-semibold peer-checked/selections-btn:bg-white duration-500
  h-[50px] px-6 rounded-br-3xl ease-in-out"
>
  <span>COLLAPSE</span>
</div>
<div
  class="absolute flex right-0 justify-center w-full text-3xl z-30
  peer-checked/selections-btn:rotate-180 transition scale-50 -top-3
  md:visible invisible"
>
  <span>&#9660;</span>
</div>
<div
  class="absolute right-0 z-30
  pt-3 text-black transition peer-checked/selections-btn:translate-x-60
  font-semibold peer-checked/selections-btn:bg-transparent duration-500
  h-[50px] px-6 rounded-bl-3xl bg-white ease-in-out">
  <span>ADD A PRODUCT</span>
</div>
